<p>updatehospital works!</p>

<div>
  <table>
    <tr>
      <td>HospitalID</td>
      <td><input type="number" name="" id="" [(ngModel)]="hospital.hospitalId"></td>
    </tr>
    <tr>
      <td>HospitalName</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.hospitalName"></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.address"></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.city"></td>
    </tr>
    <tr>
      <td>ConatctNo</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.contactNo"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="UpdateHospital()">Add</button>

      </td>
    </tr>
  </table>
</div>

