<p>searchblood works!</p>
<div>
  <table>
    <tr>
      <td>enter blood group</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonordonation.bloodGroup"></td>
    </tr>

    <tr>
      <td>enter blood bank id</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonordonation.bloodBankID"></td>
    </tr>
    <tr>
      <td>
        <td><button (click)="SearchBlood()">search</button>
        </td>


    </tr>
    <tr>
      <td>
      <p>{{num}}</p>
      </td>
    </tr>
    </table>
</div>


