
<div>
  <table>
    <tr>
      <td>UserId</td>
      <td><input type="number" name="" id="" [(ngModel)]="bloodbank.userID"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="number" name="" id="" [(ngModel)]="bloodbank.password"></td>
    </tr>
    <tr>
      <td>BloodBankName</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.bloodBankName"></td>
    </tr>
    <tr>
      <td>BloodBankId</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.bloodBankID"></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.address"></td>
    </tr>
    <tr>
      <td>ContactNumber</td>
      <td><input type="number" name="" id="" [(ngModel)]="bloodbank.contactNumber"></td>
    </tr>
    
    <tr>
      <td>City</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.city"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="UpdateBloodBank()">Add</button>


      </td>
    </tr>
  </table>
</div>
