

<header>
  <h1>BloodDonor</h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/getblooddonordetails">view all blood donor</a></li>
    <li><a routerLink="/addblooddonordetails">add blood donor</a></li>
    <li><a routerLink="/updateblooddonordetails">update blood donor</a></li>

    <li><a routerLink="/addblooddonordonation">add blood donor donation details</a></li>
    <li><a routerLink="/viewbloodinventory">Blood Inventory</a></li>
    <li><a routerLink="/searchblood">search blood </a></li>



  </ul>
</nav>
