<header>
  <h1>welcome</h1>
</header>
<nav>
  <div class="search"><input type="text" name="search" id="search" placeholder="Search this website">
   </div>
   <div class="logout"><a href="">logout</a></div>
</nav>
  <ul>
    <li id="box"><a routerLink="/hospitalmenu">hospitalmenu</a></li>
    <li id="box"><a routerLink="/blooddonationcampmenu">blooddonationcampmenu</a></li>
    <li id="box"><a routerLink="/blooddonormenu">blooddonormenu</a></li>
    <li id="box"><a routerLink="/bloodbankmenu">blood bank menu</a></li>
    



  </ul>
  <div id="sidebox">
    <p></p>
  </div>
<footer>
  <h3>All rights reserved to @blood donation group</h3>
</footer>
