
<div>
    <table>
      <tr>
        <td>Blood donation id id</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodDonationID"></td>
      </tr>
      <tr>
        <td>blood donation date</td>
        <td><input type="date" name="" id="" [(ngModel)]="blooddonordonation.bloodDonationDate"></td>
      </tr>
      <tr>
        <td>Number of bottles</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.numberofBottles"></td>
      </tr>
      <tr>
        <td>weight</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.weight"></td>
      </tr>
      <tr>
        <td>hb count</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.hbCount"></td>
      </tr>
      <tr>
        <td>blood donor id</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodDonorID"></td>
      </tr>
      <tr>
        <td>blood Bank id</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodBankID"></td>
      </tr>
      <tr>
        <td>blood Group</td>
        <td><input type="text" name="" id="" [(ngModel)]="blooddonordonation.bloodGroup"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button (click)="AddBloodDonorDonation()">Add</button>


        </td>
      </tr>
    </table>
  </div>
